#{
  title => "ReTroCycling",
  description => 
      "What a description!",
  author => "Lukas Winkler",
  logo => "img/profile.png",
  mail => "your-email@your-domain.com",
  phone => "123456789",
  phone_formatted => "123-456-789",
  social =>
    [
    ]
 }.

 % facebook, google-plus, twitter, linkedin, dribble
