#{
  title => "reTROcycling",
  description => 
      "Give your old gaming devices a 1-up",
  author => "Lukas Winkler",
  logo => "img/logo/reTROcylcing-logo.png",
  mail => "TBD",
  phone => "TBD",
  phone_formatted => "TBD",
  social =>
    [
    ]
 }.

 % facebook, google-plus, twitter, linkedin, dribble
