#{
  members =>
    [
        #{
            name => "Lukas Winkler",
            role => "Team Member",
            img => "img/team/placeholder.png",
            social =>
                [
                    {"twitter", "https://twitter.com/derwinlu"}
                ]
        },
        #{
            name => "Andreas Tomschi",
            role => "Team Member",
            img => "img/team/placeholder.png",
            social =>
                [
                ]
        },
        #{
            name => "Maximilian Tomaschek",
            role => "Team Member",
            img => "img/team/placeholder.png",
            social =>
                [
                ]
        },
        #{
            name => "Fabio Tatzgern",
            role => "Team Member",
            img => "img/team/placeholder.png",
            social =>
                [
                ]
        }
    ]
}.
