#{
  members =>
    [
        #{
            name => "Lukas Winkler",
            role => "Team Member",
            img => "img/team/lukas.png",
            social =>
                [
                    {"envelope", "mailto:e1027567@students.tuwien.ac.at"},
                    {"twitter", "https://twitter.com/derwinlu"}
                ]
        },
        #{
            name => "Andreas Tomschi",
            role => "Team Member",
            img => "img/team/andi.png",
            social =>
                [
                    {"facebook", "https://www.facebook.com/andreas.tom.3"}
                ]
        },
        #{
            name => "Maximilian Tomaschek",
            role => "Team Member",
            img => "img/team/max.png",
            social =>
                [
                    {"facebook", "https://www.facebook.com/kaiserschmoan/"}
                ]
        },
        #{
            name => "Fabio Tatzgern",
            role => "Team Member",
            img => "img/team/fabio.png",
            social =>
                [
                    {"facebook", "https://www.facebook.com/kaiserschmoan/"},
                    {"envelope", "mailto:fabio.tatzgern@gmx.at"}
                ]
        }
    ]
}.
